$breakpoint-xxl: 87.5rem;  // 1400px
$breakpoint-xl: 75rem;    // 1200px
$breakpoint-lg: 62rem;    // 992px
$breakpoint-md: 48rem;    // 768px
$breakpoint-sm: 36rem;    // 576px
$breakpoint-xs: 23.5rem;  // 375px

@mixin respond-to($breakpoint) {
  @if $breakpoint == "xxl" {
    @media (max-width: $breakpoint-xxl) { @content; }
  }
  @if $breakpoint == "xl" {
    @media (max-width: $breakpoint-xl) { @content; }
  }
  @if $breakpoint == "lg" {
    @media (max-width: $breakpoint-lg) { @content; }
  }
  @if $breakpoint == "md" {
    @media (max-width: $breakpoint-md) { @content; }
  }
  @if $breakpoint == "sm" {
    @media (max-width: $breakpoint-sm) { @content; }
  }
  @if $breakpoint == "xs" {
    @media (max-width: $breakpoint-xs) { @content; }
  }
  
  @if $breakpoint == "landscape" {
    @media (orientation: landscape) { @content; }
  }
  @if $breakpoint == "portrait" {
    @media (orientation: portrait) { @content; }
  }
} 