@use "../../styles/variables" as colors;

.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 80px;
  background-color: #202121;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  z-index: 100;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container {
  max-width: var(breakpoint-xl);
  height: 100%;
  margin: 0 auto;
  padding: 0 24px;
  display: flex;
  align-items: center;
}

.logo {
  display: flex;
  align-items: center;
}

.progressBar {
  position: absolute;
  bottom: -1px;
  left: 0;
  height: 3px;
  background-color: colors.$primary-default;
  transition: width 0.1s linear
}


