@use './styles/index.scss' as *;

.page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: $background;
  padding-top: 15rem;
  row-gap: 5rem;
  
  @include respond-to("sm") {
    padding-top: 10rem;
  }
}



